In [ ]:
# pmp4py requires pm4py latest and ocpa requires ocpa but uses an older version of pm4py so they dont mix.
import pm4py 
#import ocpa
#from google.colab import drive
#drive.mount('/content/drive', force_remount=True)

In [ ]:
#import processmining as pm
#import sys
#base_dir = '/content/drive/MyDrive/Work/'
#data_dir = base_dir + 'DataSets/'
#sys.path.append(base_dir)

# Object Centric Process Mining with pm4py

In [ ]:
log = pm4py.read_ocel_json('running-example_int.jsonocel')
#log = pm4py.read_ocel_json(data_dir + 'order-management-log.jsonocel')

## Flattening

In [ ]:
flattened_log = pm4py.ocel_flattening(ocel=log, object_type='items')
flattened_log

,ocel:eid,time:timestamp,concept:name,weight,price,case:concept:name,case:ocel:type,case:cost,case:producer,case:age,case:bankaccount
0,1.0,2019-05-20 09:07:47,place order,3.520,524.96,880001,items,NaN,NaN,NaN,NaN
1,1.0,2019-05-20 09:07:47,place order,3.520,524.96,880002,items,NaN,NaN,NaN,NaN
2,1.0,2019-05-20 09:07:47,place order,3.520,524.96,880003,items,NaN,NaN,NaN,NaN
3,1.0,2019-05-20 09:07:47,place order,3.520,524.96,880004,items,NaN,NaN,NaN,NaN
4,2.0,2019-05-20 10:35:21,place order,2.656,3255.99,880005,items,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
64912,22364.0,2020-08-19 17:57:32,package delivered,0.606,1275.00,888071,items,NaN,NaN,NaN,NaN
64913,22364.0,2020-08-19 17:57:32,package delivered,0.606,1275.00,888072,items,NaN,NaN,NaN,NaN
64914,22365.0,2020-08-22 01:00:00,create package,0.172,699.00,888091,items,NaN,NaN,NaN,NaN
64915,22366.0,2020-08-24 11:14:47,send package,0.172,699.00,888091,items,NaN,NaN,NaN,NaN
64916,22367.0,2020-08-25 16:30:41,package delivered,0.172,699.00,888091,items,NaN,NaN,NaN,NaN

In [ ]:
pm4py.write_xes(flattened_log, data_dir + 'ordermgmt_item.xes')

## OC Petri Net

In [3]:
ocpn = pm4py.discover_oc_petri_net(log)

In [ ]:
pm4py.view_ocpn(ocpn=ocpn, format="png")

## OC Directly Follows Graph

In [5]:
ocdfg = pm4py.discover_ocdfg(log)

In [ ]:
pm4py.view_ocdfg(ocdfg=ocdfg, edge_metric='total_objects', edge_threshold=900)

## Object Graphs

In [5]:
from pm4py.algo.transformation.ocel.graphs import object_interaction_graph, object_cobirth_graph, object_codeath_graph, object_descendants_graph, object_inheritance_graph
oigr = object_interaction_graph.apply(log)
ocbgr = object_cobirth_graph.apply(log)
ocdgr = object_codeath_graph.apply(log)
odgr = object_descendants_graph.apply(log)
oihgr = object_inheritance_graph.apply(log)

In [6]:
pm4py.view_object_graph(graph=odgr, ocel=log)

# Object Centric Process Mining with ocpa

In [ ]:
log = pm4py.read_ocel('running-example_int.jsonocel') # importer is deprecated in newer versions of pm4py

<ipython-input-7-d93271601b3c>:1: DeprecatedWarning: read_ocel is deprecated as of 2.3.0 and will be removed in 3.0.0. the read_ocel function is deprecated and replaced by read_ocel_csv, read_ocel_json and read_ocel_xml, respectively
  log = pm4py.read_ocel(data_dir + 'order-management-log.jsonocel')

In [ ]:
from ocpa.algo.discovery.ocpn import algorithm as ocpn_discovery_factory
from ocpa.visualization.oc_petri_net import factory as ocpn_vis_factory
from ocpa.objects.log.importer.ocel import factory as ocel_import_factory
filename = data_dir + 'running-example_int.jsonocel'

ocel = ocel_import_factory.apply(file_path=filename)
#ocpn = ocpn_discovery_factory.apply(ocel, parameters={"debug": False})
#ocpn_vis_factory.save(ocpn_vis_factory.apply(ocpn), "oc_petri_net.png")

In [ ]:
from ocpa.objects.log.importer.ocel import factory as ocel_import_factory
from ocpa.visualization.log.variants import factory as variants_visualization_factory
print("Number of process executions: "+str(len(ocel.process_executions)))
print("Number of variants: "+str(len(ocel.variants)))
variant_layouting = variants_visualization_factory.apply(ocel)
print(variant_layouting[ocel.variants[0]])